.ui.borderless.inverted.top.attached.menu {
  background-color: #21BA45;
}

.ui.inverted.header {
  font-family: Pacifico;
  font-size: 32px;
  padding-bottom: 1px;
}

h2.ui.inverted.header{
  font-size: 54px;
}

.ui.icon.button {
  color: white;
  background-color: transparent;
  padding-bottom: 1px;
}
